<header>
  <div id="header-inner">
    <h1 id="brand">
      <a href="/">JH</a>
    </h1>
    <img id="header-icon" src="/images/icons/hamburger.svg">
    <nav>
      <ul>
        <li {% if page.activeTab == "index" %}class="active" {% endif %} ><a href="/">Home</a></li>
        <li {% if page.activeTab == "portfolio" %}class="active" {% endif %} ><a href="/portfolio">Portfolio</a></li>
        <li {% if page.activeTab == "resume" %}class="active" {% endif %} ><a href="/resume">Resume</a></li>
      </ul>
    </nav>
  </div>
</header>
