<header class="site-header">
  <div class="header-wrap">
    <div class="container">
      <a class="brand" href="{{ site.url }}">
        <img src="/images/avatar.jpg">
        <h1>
          Jonathan Hooper
        </h1>
      </a>
      <nav>
          <a href="/">Home</a>
          <a href="{{ site.github_url }}" target="_blank">Github</a>
          <a href="{{ site.stack_overflow_url }}" target="_blank">Stack Overflow</a>
          <a href="{{ site.twitter_url }}" target="_blank">Twitter</a>
          <a href="mailto:{{ site.email_address }}" target="_blank">Email</a>
      </nav>
    </div>
  </div>
  <div class="header-spacer"></div>
</header>
