@font-face {
    font-family: Share;
    src: url(/fonts/Share-Regular.ttf);
}

@font-face {
    font-family: Share;
    src: url(/fonts/Share-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Share;
    src: url(/fonts/Share-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: Share;
    src: url(/fonts/Share-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
