header {
  position:fixed;
  top:0px;
  width: 100%;
  background-color: $white-color;
  height: 96px;
  box-shadow: 0px 1px 2px $black-color;

  div#header-inner {
    padding: 0 $horizontal-padding-full;
  }

  h1#brand {
    position: relative;
    top: 26px;
    font-size: 48px;
    line-height: 48px;
    font-weight: bold;
    text-shadow: 3px 3px #CCC;
    
    a {
      color: $black-color;
      text-decoration: none;
    }
  }

  img#header-icon {
    display: none;
  }

  nav {
    position: absolute;
    top: 0;
    right: $horizontal-padding-full;
    height: 96px;

    ul {
      list-style: none;

      li {
        height: 92px;
        display: inline-block;
        margin-left: 1rem;

        a {
          color: $black-color;
          text-decoration: none;
          font-size: 24px;
          line-height: 24px;
          position: relative;
          top: 36px;
          height: inherit;

          &:hover {
            color: $brand-color;
          }
        }

        &.active {
          border-bottom: 4px solid $brand-color;

          a {
            font-weight: bold;
            color: $brand-color;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $horizontal-breakpoint) {
  header {
    padding: 0;

    div#header-inner {
      padding: 0;
    }

    h1#brand {
      left: $horizontal-padding-mobile;
    }

    img#header-icon {
      display: initial;
      height: 26px;
      border-color: transparent;
      float: right;
      position: absolute;
      top: 33px;
      right: $horizontal-padding-mobile;
      cursor: pointer;
    }

    nav {
      display: none;
      width: 100%;
      position: absolute;
      top: 96px;
      left: 0;

      ul {
        margin: 0;
        padding: 0 $horizontal-padding-mobile;

        li {
          position: relative;
          margin-left: 0;
          display: block;
          border-top: 1px solid $black-color;

          a {
            font-size: 32px;
            line-height: 32px;
            top: 30px;
          }

          &.active {
            border-bottom: 0 none transparent;

            a {
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}
