* {
  margin: 0;
  padding: 0;
}

html {
  color: $white-color;
  font-family: Share, sans-serif;
  font-size: 24px;
}

body {
  background-color: $black-color;
  background-image: url(/images/background.png);
  background-attachment: fixed;
  background-size: cover;
}

h1, h2, h3, h4, h5, p, ul {
  margin-bottom: 1rem;
}

a {
  color: $brand-color;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1rem
}

a {
  color: $brand-color;
}

ul {
  margin-left: 1rem;
}

img {
  max-width: 100%;
  border: 1px solid $black-color;
}

div#content {
  margin-top: 96px;
  padding: ($horizontal-padding-full / 2) $horizontal-padding-full 1rem $horizontal-padding-full;
}

@media screen and (max-width: $horizontal-breakpoint) {
  html {
    font-size: 20px;
  }

  div#content {
    padding: $horizontal-padding-mobile;
  }
}
