html {
  font-family: Lato;
  font-size: 24px;
}

@media screen and (max-width: $mobile-breakpoint) {
  html {
    font-size: 18px;
  }
}

body {
  display: flex;
  flex-flow: column wrap;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, p, ul {
  margin: 0.75em 0 0.25rem 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.64rem;
}

h3 {
  font-size: 1.36rem;
}

h4 {
  font-size: 1.16rem;
}

h5 {
  font-size: 1.04rem;
}

p {
  font-size: 1rem;
}

a {
  text-decoration: underline;
}

img {
  border: 1px solid $black-color;
}

.row {
  display: flex;
  flex-flow: column wrap;
  min-height: 80vh;
  justify-content: center;
  padding: 10vh 96px;
}

@media screen and (max-width: $mobile-breakpoint) {
  .row {
    padding: 10vh 16px;
  }
}

.white-on-blue {
  background-color: $brand-color;
  color: $white-color;

  a {
    color: $white-color;
  }
}

.black-on-white {
  background-color: $white-color;
  color: $black-color;

  a {
    color: $brand-color;
  }
}
