<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>
    {% if page.title %}
      {{ page.title | prepend: 'Jonathan Hooper - ' }}
    {% else %}
      Jonathan Hooper
    {% endif %}
    </title>
    <meta name="description" content="My personal website">
    <meta name="author" content="Jonathan Hooper">
    <link rel="stylesheet" href=/css/styles.css type="text/css">

    {% include google_fonts.html %}
  </head>
<body>
  <div class="content markdown-body">
    {{ content }}
  </div>
</body>
{% include analytics.html %}
</html>
